.login {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.login-form {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #add8e6;
}

.banner-login {
  height: 100%;
  width: 50%;
  background-color: #1e90ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  position: relative;
  bottom: 40px;
}

h5 {
  padding-top: 20px;
  position: relative;
  bottom: 40px;
}

.login-form-wrapper {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.login-form-wrapper button {
  width: 96%;
  margin-top: 10px;
}

.login-form-wrapper button {
  transform: scale(1.05);
  transition: 0.2s;
}

.login-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px 0;
}

@media screen and(max-width:1280px ) {
  .banner-login {
    padding: 0 2%;
  }

  .banner-login img {
    max-width: 400px;
  }
}

@media screen and (max-width: 991px) {
  .banner-login {
    display: none;
  }

  .login-form {
    width: 100%;
  }
}
