.title-user h2 {
  text-align: initial;
  font-size: 24px;
  padding: 0px 3px;
}

.user-parent {
  height: 100%;
  padding: 0 2px;
  background-color: #add8e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 600px;
}

.user {
  width: 100%;
  max-width: 900px;
  padding: 2px 3px;
}

.user-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user .form-group2 label {
  font-size: 14px;
}

.user .form-group2 input {
  font-size: 14px;
}

.user button {
  margin-top: 10px;
  width: 100%;
}

.user-parent label.obs {
  color: red;
}
