<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SGOS- Cliente</title>
  <link rel="stylesheet" href="../css/all.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
  <div class="title-client">
    <h2>Cliente</h2>
  </div>
  <div class="register-parent">
    <div class="register">
      <form>
        <div class="form-group">
          <label for="inputName">*Nome</label>
          <input type="text" class="form-control" name="inputName" aria-describedby="nameHelp"
            placeholder="Nome completo" onmouseout="validaNome()" />
        </div>
        <div class="form-group">
          <label for="inputAddress">Endereço</label>
          <input type="text" class="form-control" name="inputAddress" placeholder="Rua, nº, Cidade" />
        </div>

        <div class="form-group">
          <label for="inputTelephone">*Telefone</label>
          <input type="text" class="form-control" name="inputTelephone" aria-describedby="telephoneHelp"
            placeholder="cod. área e número" required minlength="12" maxlength="12" onmouseout="validaTelefone()" />

          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="inputEmail" placeholder="email@exemplo.com">
          </div>
          <button type="button" class="btn btn-primary" onclick="filtrarCliente()">Pesquisar Cliente</button>
          <button type="button" class="btn btn-primary" onclick="inserirCliente()">Inserir Cliente</button>
          <button type="button" class="btn btn-primary">Atualizar Cliente</button>
          <button type="botton" class="btn btn-primary">Excluir Cliente</button>
          <label for="observacao" class="obs">*Campos obirgatórios</label>
      </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
  <script src="../js/clientController.js"></script>

</body>

</html>