<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SGOS- Cliente</title>
    <link rel="stylesheet" href="../css/all.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  
  <body>
    <div class="register-parent">
      <div class="register">
        <div class="register-title">
          <img src="../img/logo-system.jpg" alt="imagem de um computador">
          <h2>Cliente</h2>
        </div>
        <form>
          <div class="form-group">
            <label for="inputName">Nome</label>
            <input
              type="text"
              class="form-control"
              name="inputName"
              aria-describedby="nameHelp"
              placeholder="Nome completo"
            />
            <small id="nameHelp" class="form-text text-muted"
              >Campo obirgatório</small>
          </div>
          <div class="form-group">
            <label for="inputAddress">Endereço</label>
            <input type="text" class="form-control" name="inputAddress" />
          </div>
  
          <div class="form-group">
            <label for="inputTelephone">Fone</label>
            <input
              type="text"
              class="form-control"
              name="inputTelephone"
              aria-describedby="telephoneHelp"
            />
            <small id="telephoneHelp" class="form-text text-muted"
              >Campo obirgatório</small>
            
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="exampleInputEmail1" >
          </div>
  
          <button type="submit" class="btn btn-primary">Cadastrar</button>
          <button type="submit" class="btn btn-warning">Atualizar</button>
          <button type="submit" class="btn btn-danger">Excluir</button>

        </form>
      </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
