<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SGOS- Painel de controle</title>
    <link rel="stylesheet" href="../css/all.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
      />
  </head>

  <body>
    <div class="flex-deshboard">
      <sidebar>
        <div class="sidebar-title">
          <img src="../img/logo-system.jpg" alt="computador">
          <h2>SGOS</h2>
        </div>
        <div class="menu">
          <ul>

            <li>Deshboard</li>
            <img src="../img/home.ico" class="icon-menu">
            <li>Cliente</li>
            <img src="../img/user.ico" class="icon-menu">
            <li>Usuário</li>
            <img src="../img/user.ico" class="icon-menu">
            <li>OS</li>
            <img src="../img/paper.ico" class="icon-menu">


          </ul>
        </div>
      </sidebar>
      <main>
        <header>

          <a href="#">Deshboard<img src="../img/home.ico" class="icon"></a>
          <a href="#">Logout<img src="../img/logout.ico" class="icon"></a>
        </header>
        <div class="main-content">
          <p>main</p>
        </div>
      </main>
    </div>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"></script>
  </body>
</html>
