<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SGOS- Painel de controle</title>
    <link rel="stylesheet" href="../css/all.css" />
    <link rel="stylesheet"
      href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet"
      href="../node_modules/font-awesome/css/font-awesome.min.css">
  </head>

  <body>
    <div class="flex-deshboard">
      <sidebar>
        <div class="sidebar-title">
          <img src="../img/logo-system.jpg" alt="computador">
          <h2>SGOS</h2>
        </div>
        <div class="menu">
          <ul>

            <li>
              <a href="deshboard.html"> Deshboard </a>
            </li>
            <img src="../img/home.ico" class="icon-menu">
            <li>
              <a href="client.html">Cliente</a>
            </li>
            <img src="../img/user.ico" class="icon-menu">
            <li>
              <a href="user.html">Usuário</a>
            </li>
            <img src="../img/user.ico" class="icon-menu">
            <li>
              <a href="#">OS</a>
            </li>
            <img src="../img/paper.ico" class="icon-menu">


          </ul>
        </div>
      </sidebar>
      <main>
        <header>

          <a href="#">Deshboard<img src="../img/home.ico" class="icon"></a>
          <a href="#">Logout<img src="../img/logout.ico" class="icon"></a>
        </header>
        <div class="main-content">
          <div class="panel">
            <p>Main</p>
          </div>

        </div>
      </main>
    </div>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
