<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
  <link rel="stylesheet" href="../css/all.css">
  <title>Ordem de serviço</title>
</head>

<body>
  <div class="title-os">
    <h2>Ordem de Serviço</h2>
  </div>
  <div class="content-os">
    <form>
      <div class="pesquisar-os form-group">
        <input type="text" id="pesquisa-os" placeholder="Pesquisar OS pelo Nº ">
        <button type="button" class="btn btn-primary" onclick="buscarOs()+limpaBuscarPorId()">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="12" fill="currentColor" class="bi bi-search"
            viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
          </svg>
        </button>
      </div>
      <div class="form-group">
        <label for="numberOs">Nº da Ordem de Serviço</label>
        <input type="text" id="numberOs" class="form-control" disabled placeholder="auto" />
        <label for="data">Data OS</label>
        <input type="text" id="data" class="form-control" disabled placeholder="auto" />
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="check-os" type="checkbox" id="checkOS" onclick="marcaDesmarca(this)" />
          <label class="form-check-label" for="checkOs"> Ordem de Serviço </label>
          <input class="check-orcamento" type="checkbox" id="checkOrcamento" onclick="marcaDesmarca(this)" />
          <label class="form-check-label" for="checkOrcamento">
            Orçamento
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="situacaoOs">Situação da OS</label>
        <select id="situacaoOs" class="form-control" onclick="validaTipo()">
          <option value="1">Selecione</option>
          <option value="2">Aguardando execução</option>
          <option value="3">Executada</option>
          <option value="4">Na bancada</option>
          <option value="5">Aguardando peças</option>
        </select>
      </div>

      <div class="form-group">
        <label for="idCliente">*Id cliente</label>
        <input type="text" id="idCliente" class="form-control" onblur="validaIdCli()" />
        <label for="cliente">Cliente</label>
        <input type="text" id="cliente" class="form-control" disabled placeholder="auto-complet" />
        <label for="cliente">Telefone do cliente</label>
        <input type="text" id="telefone" class="form-control" disabled placeholder="auto-complet" />
        <label for="equipamento">*Equipamento</label>
        <input type="text" id="equipamento" class="form-control" onblur="validaTipoEquipamento()" />
        <label for="defeito">*Defeito</label>
        <input type="text" id="defeito" class="form-control" onblur="validaDefeito()" />
        <label for="servico">Serviço</label>
        <input type="text" id="servico" class="form-control" />
        <label for="tecnico">Técnico</label>
        <input type="text" id="tecnico" class="form-control" />
        <label for="valor">Valor do serviço</label>
        <input type="text" id="valor" class="form-control" />
      </div>

      <button type="button" class="btn btn-primary" onclick="InserirOS()">
        Inserir OS
      </button>
      <button type="button" class="btn btn-primary" onclick="atualizarOs()">Atualizar </button>
      <button type="button" class="btn btn-primary" onclick="excluirOs()">Excluir </button>
      <button type="button" class="btn btn-primary" onclick="loadDoc('allOs.html')+listarOSs()">Listar
        OS's</button>
      <label for="observacao" class="obs">*Campos obirgatórios</label>
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  <script src="../js/os.js"></script>
  <script src="../js/dashboard.js"></script>
</body>

</html>