<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/all.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
  <title>SGOS- Usuario</title>
</head>

<body>
  <div class="title-user">
    <h2>Usuário</h2>
  </div>
  <div class="user-parent">
    <div class="user">
      <form>
        <div class="form-group2">
          <label for="inputId" class="inputId">*Id</label>
          <input type="text" class="form-control" name="inputId" aria-describedby="idHelpUser"
            placeholder="Insira um Id para pesquisar um usuário " />
        </div>
        <div class="form-group2">
          <label for="inputNameUser">*Nome</label>
          <input type="text" class="form-control" name="inputNameUser" aria-describedby="nameHelpUser"
            placeholder="Nome completo" />
        </div>
        <div class="form-group2">
          <label for="inputLoginUser">*Login</label>
          <input type="text" class="form-control" name="inputLoginUser" placeholder="ex. wyltamar83" />
        </div>

        <div class="form-group2">
          <label for="inputSenhaUser">*Senha</label>
          <input type="text" class="form-control" name="inputSenhaUser" placeholder="use de 6 a 8 caracteres"
            maxlength="8" />
        </div>

        <div class="form-group2">
          <label for="inputTelephoneUser">Número do telefone</label>
          <input type="text" class="form-control" name="inputTelephoneUser" aria-describedby="telephoneHelpUser"
            placeholder="dddxxxxxxxxx" maxlength="12" />
        </div>
        <div class="form-group2">
          <div class="input-group-prepend">
            <label class="input-group-text" for="selectPerfil">*Perfil</label>
          </div>
          <select class="form-control" name="selectPerfil">
            <option selected>Selecione</option>
            <option value="1">Administrador</option>
            <option value="2">Usuário</option>
          </select>
        </div>
        <button type="button" class="btn btn-primary" onclick="inserirUsuario()">Inserir Usuário</button>
        <button type="button" class="btn btn-primary">Atualizar Usuário</button>
        <button type="button" class="btn btn-primary">Excluir Usuário</button>
        <button type="button" class="btn btn-primary">Listar Usuários</button>
        <label for="observacao" class="obs">*Campos obirgatórios</label>
      </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>

  <script src="../js/user.js"></script>
</body>

</html>