<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SGOS- Usuario</title>
    <link rel="stylesheet" href="../css/all.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="user-parent">
      <div class="user">
        <div class="user-title">
          <img src="../img/logo-system.jpg" alt="imagem de um computador" />
          <h2>Usuário(s)</h2>
        </div>
        <form>
          <div class="form-group2">
            <label for="inputId">*Id</label>
            <input
              type="text"
              class="form-control"
              name="inputId"
              aria-describedby="idHelpUser"
            />
          </div>
          <div class="form-group2">
            <label for="inputNameUser">*Nome</label>
            <input
              type="text"
              class="form-control"
              name="inputNameUser"
              aria-describedby="nameHelpUser"
              placeholder="Nome completo"
            />
          </div>
          <div class="form-group2">
            <label for="inputLoginUser">*Login</label>
            <input type="text" class="form-control" name="inputLoginUser" />
          </div>

          <div class="form-group2">
            <label for="inputSenhaUser">*Senha</label>
            <input type="text" class="form-control" name="inputSenhaUser" />
          </div>

          <div class="form-group2">
            <label for="inputTelephoneUser">Fone</label>
            <input
              type="text"
              class="form-control"
              name="inputTelephoneUser"
              aria-describedby="telephoneHelpUser"
            />
          </div>
          <div class="form-group2">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01"
                >*Perfil</label
              >
            </div>
            <select class="form-control" name="inputGroupSelectPerfil">
              <option selected>Selecione</option>
              <option value="1">Administrador</option>
              <option value="2">Usuario</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Cadastrar</button>
          <button type="submit" class="btn btn-warning">Atualizar</button>
          <button type="submit" class="btn btn-danger">Excluir</button>
        </form>
        <label for="alerta" class="obs">*Campo obirgatório</label>
      </div>
    </div>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
