<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
  <link rel="stylesheet" href="../css/all.css">
  <title>SGOS- Usuario</title>
</head>

<body>
  <div class="title-user">
    <h2>Usuário</h2>
  </div>
  <div class="user-parent">
    <div class="user">
      <form>
        <div class="form-group2">
          <label for="inputId" class="inputId">*Id</label>
          <input type="text" class="form-control" name="inputId" aria-describedby="idHelpUser"
            placeholder="Insira um Id para pesquisar um usuário " onblur="pegarIdUsu()+buscarUsuario()+validaCampoId()"
            id="idUsuario" />
        </div>
        <div class="form-group2">
          <label for="inputNameUser">*Nome</label>
          <input type="text" class="form-control" name="inputNameUser" aria-describedby="nameHelpUser"
            placeholder="Nome completo" onblur="validaCampoNome()" />
        </div>
        <div class="form-group2">
          <label for="inputLoginUser">*Login</label>
          <input type="text" class="form-control" name="inputLoginUser" placeholder="ex. wyltamar83"
            onblur="validaCampoLogin()" />
        </div>

        <div class="form-group2">
          <label for="inputSenhaUser">*Senha</label>
          <input type="text" class="form-control" name="inputSenhaUser" placeholder="use de 6 a 8 caracteres"
            maxlength="8" onblur="validaCampoSenha()" />
        </div>

        <div class="form-group2">
          <label for="inputTelephoneUser">Número do telefone</label>
          <input type="text" class="form-control" name="inputTelephoneUser" aria-describedby="telephoneHelpUser"
            placeholder="dddxxxxxxxxx" maxlength="12" />
        </div>
        <div class="form-group2">
          <div class="input-group-prepend">
            <label class="input-group-text" for="selectPerfil">*Perfil</label>
          </div>
          <select class="form-control" name="selectPerfil">
            <option selected>Selecione</option>
            <option value="1">Administrador</option>
            <option value="2">Usuário</option>
          </select>
        </div>
        <button type="button" class="btn btn-primary"
          onmousemove="validaCampoNome()+validaCampoLogin()+validaCampoSenha()+validaCampoPerfil()"
          onclick="inserirUsuario()+limparCamposUsuario()">Inserir
          Usuário</button>
        <button type="button" class="btn btn-primary" onmousemove="validaCampoPerfil()"
          onclick="atualizarUsuario()+limparCamposUsuario()">Atualizar Usuário
        </button>

        <button type="button" class="btn btn-primary" onmousemove="validaCampoPerfil()"
          onclick="excluirUsuario()+limparCamposUsuario()">ExcluirUsuário
        </button>

        <button type="button" class="btn btn-primary" onclick="loadDoc('allUsers.html')+listarUsuarios()">Listar
          Usuários</button>
        <label for="observacao" class="obs">*Campos obirgatórios</label>
      </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  <script src="../js/user.js"></script>
  <script src="../js/dashboard.js"></script>
</body>

</html>